/*          FONTS          */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');

/*          GENERICS          */
:root{
  --back: rgb(232, 236, 236);
  --background: black;
  --text: whitesmoke;
  --dourado: rgb(75, 75, 3); 
  --members: ;
  --members_border: rgb(16, 209, 209);
}
body{
  background-color: var(--back);
  max-width: 1024px;
  margin: auto;
}
main{
  margin-top: 100px;
}
a{
  text-decoration: none;
  color: gray;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav{
  font-family: "Croissant One";
  font-size: larger;
}
.nav-item{
  margin: 1rem;
}
.logo{
  width: 5rem;
  border-radius: 5px;
  margin-left: 10px
}

/*          INDEX          */
#index{
  background-image: url('../images/index/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  border: double 5px var(--text);
  border-radius: 10px;
  font-family: "Great Vibes";
  padding: 1rem;
}
#index_items img{
  width: 50%;
}
#index h1{
  margin-top: 2rem;
}

/*          INTRO          */
#intro_content{
  background-color: black;
  padding: 10px;
}
#intro_content img{
  cursor: pointer;
  transition: 0.3s;
}
#intro_content img:hover {opacity: 0.7;}
#intro_content p{
  position: relative;
  /*top: -1.5%;*/
  left: 30%;
  color: whitesmoke;
}

/*          STUDIO          */
#studio_content img{
  border: dotted 2px black;
  border-radius: 50%;
  margin: 10px;
}
.studio_content_items{
  background-color: black;
  padding: 10px;
  border-radius: 5px;
}
.studio_content_items h1{
  color: var(--text);
  font-family: Great Vibes;
  font-size: 3rem;
  margin-top: 1rem;
}
.studio_content_items img{
  width: 40%;
  margin: 1rem;
  border: solid 2px var(--dourado);
  border-radius: 5px 15px;
}


/*          MEMBERS          */
.card{
  background-color: var(--background);
  border: none;
  justify-content: center;
  align-items: center;
}
.members{
  background-color: var(--background);
  color: var(--text);
  padding: 1rem;
}
.members img{
  background-color: var(--members_border);
  padding: 10px 10px 0 10px;
  border-radius: 50%;
  width: 80%;
}

/*          FOOTER          */
footer{
  margin-top: 20px;
  padding: 10px;
  border-top: solid 1px black;
}

.footer_logo{
  width: 30%;
  border-radius: 5px;
  margin: 1rem;
}


@media (max-width: 780px) {
  .logo{
    width: 4rem;
  }
  #index{
    background-image: none;
    margin-top: 50px;
  }
  #index_items img{
    width: 50%;
    margin: 5px;
  }

  .members img{
    background-color: var(--members_border);
    padding: 10px 5px 0 5px;
    border-radius: 50%;
    width: 50%;
  }

  #footer_logo{
    display: none;
  }
  #intro_content img:hover {opacity: 100;}
  .studio_content_items img{
    width: 80%;
    margin: 1rem;
    border: solid 2px var(--dourado);
    border-radius: 5px 15px;
  }
}