/*          FONTS          */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

/*          GENERICS          */
:root{
  --member: rgb(232, 236, 236);
}

body{
  background-color: var(--member);
  max-width: 1024px;
  margin: auto;
}

main{
  margin-top: 120px;
}

a{
  text-decoration: none;
  color: gray;
}

li{
  list-style-type: none;
}

#logo img{
  width: 20%;
  margin-left: 20%;
  border-radius: 5px;
}

/*          INDEX          */
#index_items h1{
  margin: 3rem;
  font-family: "Great Vibes";
}

#index_items img{
  width: 70%;
  padding: 10px;
}

/*          INTRO          */
#intro_content{
  background-color: black;
  padding: 10px;
}

#intro_content img{
  cursor: pointer;
  transition: 0.3s;
}
#intro_content img:hover {opacity: 0.7;}

#intro_content p{
  position: relative;
  top: -1.5%;
  left: 25%;
  color: whitesmoke;
}

/*          STUDIO          */





/*          MEMBERS          */
#members{
  background-color: var(--member);
}
.card{
  background-color: var(--member);
  border: none;
}
.members img{
  background-color: rgb(16, 209, 209);
  padding: 10px 10px 0 10px;
  border-radius: 50%;
}

/*          FOOTER          */
footer{
  margin-top: 20px;
  padding: 10px;
  border-top: solid 1px black;
}

#footer_logo{
  width: 30%;
  border-radius: 5px;
}


@media (max-width: 320px) {

}